.App {
  text-align: center;
}

body::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  /* background: #5cb85c; */
  background: linear-gradient(to bottom , #292b2c 50% ,#5cb85c);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom , #5d6061 50% ,  #85dd85);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
